<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script>
        alert('u7528\u6237\u540d\u4e0d\u80fd\u4e3a\u7a7a');
    </script>
</head>
<body>
    <form>
        URL:<input type="text" id="url">
        <input type="button" value="提交">
    </form>
</body>
</html>